<!--part #2 point #6-->
<ul class="navbar-nav ml-auto">

  <li class="nav-item active">
    <a class="nav-link" href="/authors">Authors
      <span class="sr-only">(current)</span>
    </a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/books">Books</a>
  </li>

  <li class="nav-item active">
      <a class="nav-link" href="/books/addbook">Add Book</a>
  </li>
  
  <li class="nav-item active">
        <a class="nav-link" href="/authors/addauthor">Add Author</a>
  </li>

</ul>